._ok .card{
    background-color: #edffed;
}
._warning .card{
    background-color: #ffe2e5;
    background-color: #ffeebd;
}
._box ul{
    list-style: none;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
}
._box ul li{
    width: 100%;
    padding: 1px;
    position: relative;
    background-color: #61c177;
    margin: 3px;
    border-radius: 1px;
    color: white;
    padding-left: 21px;
}

._box .card ul li::before {
    content: "•"; color: forestgreen;
    display: inline-block; width: 1em;
    margin-left: -1em;
}
._warning .card ul li._shake::before {
    content: "•"; color: red;
    display: inline-block; width: 1em;
    margin-left: -1em;
}

._shake{
    background-color: #dc3545 !important;
    bottom:3%;
    position:absolute;
    animation-duration: 1s;
    animation: linear infinite alternate;
    animation-name: run;
    -webkit-animation:linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 1s;
}     
@keyframes run {
    0% { left: 0;}
    50%{ left : 5%;}
    100%{ left: 0;}
}

._describe{
    padding: 23px;
    background-color: #2f414a;
    border-radius: 3px;
    border: 1px solid #000633;
}
._describe ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
._describe ul li{
    display: inline-block;
    padding: 3px;
    margin-left: 20px;
}
._describe ul li span:first-child{
    background-color: red;
    padding: 10px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
._describe ul li span:last-child{
    display: inline-block;
    color: whitesmoke;    
    padding-left: 3px;
}

._box_yellow{background-color: #ffeebd !important;} 
._code_red{    background-color: #dc3545 !important;}  
._code_green{background-color: #61c177 !important;}  
._box_lightgreen{background-color: #edffed !important;} 

span.ion-ios-sad-outline {
    color: #dc3545;
}
span.ion.ion-ios-happy-outline {
    color: #28a745;
}