  <body data-spy="scroll" data-target="#navbar1" data-offset="60">


      <div class="container">
          <div class="row align-items-center py-4">
          </div>
      </div>


      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" id="navbar1">
        <div class="container">
            <a class="navbar-brand mr-1 mb-1 mt-0" href="../">LWH SCP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#buttons">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> 
    <main>
        <section class="container">
            <div class="row py-5">
                <div class="col-12 my-auto">
                    <div class="row text-center">

                      <div [className]="issueGMServer ? 'col-lg-4 mb-4 _box _warning' : 'col-lg-4 mb-4 _box _ok'">
                          <div class="card h-100">
                              <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                  <h1 class="display-2 text-primary"><span [className]="issueGMServer ? 'ion-ios-sad-outline' : 'ion ion-ios-happy-outline'"></span></h1>
                                  <h4 class="card-title text-primary">Goldmine Server</h4>
                                  <ul>
                                    <li [className]="issueGMServer && issueGMServer.Name === 'WebService' ? '_shake' : '_noshake'">Web Service</li>
                                    <li [className]="issueGMServer && issueGMServer.Name === 'MySQL' ? '_shake' : '_noshake'">MySQL</li>
                                    <li [className]="issueGMServer && issueGMServer.Name === 'GmSQL' ? '_shake' : '_noshake'">Goldmine SQL</li>
                                    <li [className]="issueGMServer && issueGMServer.Name === 'AppLoader' ? '_shake' : '_noshake'">App Loader</li>
                                    <li [className]="issueGMServer && issueGMServer.Status === 999 ? '_shake' : '_noshake'">No Status Update</li>
                                  </ul>
                              </div>
                          </div>
                      </div> 
                        
                      <div [className]="issueHapiServer ? 'col-lg-4 mb-4 _box _warning' : 'col-lg-4 mb-4 _box _ok'">
                          <div class="card h-100">
                              <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                  <h1 class="display-2 text-primary"><span [className]="issueHapiServer ? 'ion-ios-sad-outline' : 'ion ion-ios-happy-outline'"></span></h1>
                                  <h4 class="card-title text-primary">Linux Box</h4>
                                  <ul>
                                    <li [className]="issueHapiServer && (issueHapiServer.Name === '.24 last-lead' || issueHapiServer.Name === 'Proxy') ? '_shake' : '_noshake'">API Web Service</li>
                                    <li [className]="issueHapiServer && issueHapiServer.Name === 'Proxy' ? '_shake' : '_noshake'">Proxy Server</li>
                                    <li [className]="issueHapiServer && issueHapiServer.Name === 'CronProject' ? '_shake' : '_noshake'">Cron Project</li>
                                  </ul>
                              </div>
                          </div>
                      </div> 
                        
                      <div [className]="issueOtherServer ? 'col-lg-4 mb-4 _box _warning' : 'col-lg-4 mb-4 _box _ok'">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                <h1 class="display-2 text-primary"><span [className]="issueOtherServer ? 'ion-ios-sad-outline' : 'ion ion-ios-happy-outline'"></span></h1>
                                <h4 class="card-title text-primary">Other Internal Services</h4>
                                <ul>
                                  <li [className]="issueOtherServer && issueOtherServer.Name === 'Script' ? '_shake' : '_noshake'">Admin Ember (Script)</li>
                                </ul>
                            </div>
                        </div>
                    </div> 

                        

                    </div>
                </div>
            </div>
        </section>
              
      <div class="container">
        <div class="_describe">
          <ul>
            <li>
              <span class="_color _box_yellow"></span>
              <span class="_info">Area with Problem!</span>
            </li>
            <li>
              <span class="_color _code_red"></span>
              <span class="_info">Actual problem point!</span>
            </li>
            <li>
              <span class="_color _code_green"></span>
              <span class="_info">Working part!</span>
            </li>
            <li>
              <span class="_color _box_lightgreen"></span>
              <span class="_info">Area with no problem!</span>
            </li>
          </ul>
        </div>
    </div>


    </main>

</body>